.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Default styles */

body {
  overflow-x: hidden;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0089B7;
  padding: 10px 70px; 
  max-width: 100%;
}

.logo {
  color: white;
}

.logo h2 {
  margin: 0;
  font-size: 24px;
}

.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-right: 20px; 
  font-size: 20px; 
  color: white;
  cursor: pointer;
}

.menu li:last-child {
  margin-right: 0; 
}

.hero {
  padding: 40px 10px;
  background-color: #003D62;
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  line-height: 29px;
}

.hero_content h1 {
  margin-bottom: -17px;
}

.hi_text {
  font-size: 55px;
  color: rgb(247, 208, 156);
}

.name_text {
  font-size: 55px;
}

.hero_content h2 {
  font-size: 49px;
}

.cards {
  background-color: #003251;
  margin-top: -50px;
  max-width: 100%;
  width: 100%;
  height: 1200px;
}

.project {
  font-size: 72px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.cardsItems {
  width: 900px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.cardsItems img {
  width: 290px;
  height: 290px;
  cursor: pointer;
}

.abouts {
  background-color: #003D62;
  max-width: 100%;
  margin-top: -51px;
  height: auto;
}

.h1_text {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-left: 29px;
}

.abouts_items {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.abouts_items img {
  height: 20px;
  width: 20px;
  padding: 5px 30px;
}

.abouts_items p {
  color: #fff;
  margin-left: -25px;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #012941;
  font-size: 24px;
  color: #fff;
}


@media only screen and (max-width: 968px) {
  body {
    overflow-x: hidden;
    scrollbar-width: 100%;
  }
  .main {
    padding: 10px; 
  }

  .logo h2 {
    font-size: 16px; 
  }

  .menu li {
    font-size: 14px; 
  }
  .hero {
    padding: 10px; 
  }
 .container{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  
 }
  .hi_text,
  .name_text,
  .hero_content h2 {
    font-size: 40px; 
  }

  .project {
    font-size: 48px; 
  }
  .cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    overflow: hidden;
    height: auto;
    outline: none;
    
  }
  .cardsItems {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  

  .abouts_items {
    width: 100%; 
    padding: 0 20px; 
  }
}
  @media only screen and (max-width: 500px) {
    .main {
      width: 100%;
      padding: 10px 10px; /* Adjust padding for smaller screens */
      margin: 0 auto;
    }
  
    .logo h2 {
      font-size: 16px; /* Decrease font size for smaller screens */
    }
  
    .menu li {
      font-size: 14px; /* Decrease font size for smaller screens */
    }
  }

